# Generated folders
bin/
gen/
out/
build/
lib/
logs/
target/


# Eclipse project files
.classpath
.project
# Eclipse generated folders
.metadata/
.settings/
RemoteSystemsTempFiles/
Servers/
# IDEA project files
.idea/
*.iml
# IDEA Old-style project files
*.ipr
*.iws
# Android Studio
local.properties
app/


# Android built application files
*.apk
*.ap_
# Android files for the dex VM
*.dex


# Java class files
*.class


# Windows thumbnail db
.DS_Store
# Image thumbnails
Thumbs.db


# Gradle cache
.gradle


# keystore
*.jks


dependency-reduced-pom.xml
